<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".activity.ScreenFlashActivity"
            android:exported="false"
            />

        <service
            android:name=".service.LumolightTileService"
            android:exported="true"
            android:label="Lumolight"
            android:icon="@drawable/tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

        </service>
    </application>

</manifest>